node_modules/
dist/
public/*.js 
public/*.js.map
public/*.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
.DS_Store
Thumbs.db

*.log
*.tmp

docker-compose.override.yml
docker-compose.dev.yml
.env
